body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
}

section,
footer {
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

a {
  color: #1bb0ce;
}

a:hover {
  color: #333;
}

footer {
  text-align: center;
}
